body {
    position: relative;
    width: auto;
    background: #FFFFFF;
}

p {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1E1079;
    text-decoration: none;
}

.nav {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-around;


    background: #1E1079;
}

.label img {


    width: 100;
    height: 100px;
    left: 20px;
    top: 10px;

    border-radius: 33px;
    display: flex;
    align-items: center;
    text-align: center;


}

.label {

    width: 174px;
    height: 46px;
    background: #FFFFFF;
    border-radius: 33px;
    margin: 15px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.zagolovok {
    position: absolute;
    width: 100%;
    height: 157px;
    margin: 100px 0px 30px;
    padding: 2px;
    background: rgba(39, 19, 164, 0.9);
    border-radius: 33px;


}

.z1 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 27px;
    top: 9px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 30pt;
    line-height: 45px;
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
}

.page {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#n1 {
    font-family: 'Century Gothic';
    font-style: normal;
    color: rgba(47, 27, 192, 0.9);
    font-weight: 700;
}
#text1{font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;}
.news {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 300px;
    border-radius: 33px;
    border: 20px solid rgba(47, 27, 192, 0.9);
    background-color: white;
    padding: 10px;
    
}

.new1 {
    display: flex;
    flex-direction: row;
}